/* ------main section------- */

main{
    margin: 0;
    padding: 0;
}

section{
    height:  38rem;
    position: relative;
}

.section-preview{
    height: 100%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.section-preview-text{
    height: 17rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 1000;
}

.section-preview-text p{
    color: var(--actent-text-color);
    text-align: center;
    line-height: 1.5;
}

.section-preview-text .general-text{
    font-size: var(--text-size-headers);
    font-weight: var(--text-weight) !important;
    letter-spacing: 2px;
}

.bold-last-word {
    font-weight: var(--text-weight-bold);
}

/* ------- CLOUDS -------- */

.clouds{
    position: absolute;
    top: 0;
    left: 0 ;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.cloud{
    position: absolute;
    z-index: 1;
}

.cloud1{
    top: 150px;
    left: 60%;
    transform: scale(0.6);
}

.cloud2{
    top: 250px;
    left: 20%;
    transform: scale(1.2);
}

.cloud3{
    top: 345px;
    left: -90px;
    transform: scale(2);
}

.cloud4{
    top: 100px;
    left: 10%;
    transform: scale(1);
}

.cloud5{
    top: 420px;
    left: 75%;
    transform: scale(1.4);
}

.cloud6{
    top: 450px;
    left: 70%;
    transform: scale(2.7);
}

.cloud7{
    top: 50px;
    left: 86%;
    transform: scale(2.3);
}

.cloud8{
    top: 470px;
    left: 64%;
    transform: scale(1.4);
}

.cloud9{
    top: 490px;
    left: 40%;
    transform: scale(1);
}

/* --- CURVE LINE --- */
.curve-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    z-index: 2;
}

.responsive-svg {
    width: 100%;
    height: 100%;
}

