.about-us{
    height: 59rem;
    background: var(--base-color);
    position: relative;
}

.about-us-container{
    margin: 0 auto;
    width: 80rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7rem;
}

.container-for-text{
    width: 40rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*gap: 1rem;*/
}

.container-for-text p:first-child{
    font-weight: var(--text-weight-bold);
    font-size: 12px;
    letter-spacing: 2px;
}

.container-for-text h2{
    font-weight: var(--text-weight-bold);
}

.container-for-icons{
    width: 50rem;
    height: 16rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    align-items: flex-start;
}

.container-for-icons div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.container-for-icons div div{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-for-buttons{
    height: 2.5rem;
    width: 25rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    text-align: center;
    align-items: center;
}

.container-for-buttons button:first-child{
    height: 100%;
    width: 100%;
    border: none;
    background-color: var(--color-for-red-button);
    color: var(--text-color-situation);
    font-weight: var(--text-weight-bold);
}

.container-for-buttons button:last-child{
    height: 100%;
    width: 100%;
    border: none;
    background-color: var(--color-for-blue-button);
    color: var(--color-for-actient-button);
    font-weight: var(--text-weight-bold);
}
/* clouds */
.inverse-clouds{
    position: absolute;
    top: 0;
    left: 0 ;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.inverse-cloud{
    position: absolute;
    z-index: 1;
}

.inverse-cloud1{
    top: 650px;
    left: 16%;
    transform: scale(1.6);
}

.inverse-cloud2{
    top: 650px;
    left: 13%;
    transform: scale(0.9);
}

.inverse-cloud3{
    top: 60px;
    left: 70%;
    transform: scale(1.2);
}
.inverse-cloud4{
    top: 150px;
    left: 10%;
    transform: scale(2);
}

.inverse-cloud5{
    top: 700px;
    left: 80%;
    transform: scale(1.5);
}

.inverse-cloud6{
    top: 700px;
    left: 76%;
    transform: scale(2);
}