
.section-m{
    height: 38rem;
    background-color: var(--secondary-color);
}

.section-manage{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.text{
    display: flex;
    flex-direction: column;
    width: 27rem;
    height: 100%;
    justify-content: center;
    gap: 1em;
}

.text p{
    text-align: justify;
    letter-spacing: 1px;
}

.text p:first-child{
    font-size: 12px;
    font-weight: var(--text-weight-bold);
}

.image-tech{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 45rem;
}

.image-tech-elem{
    height: 100%;
    width: 100%;
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.2));
}

.container-buttons{
    display: flex;
    flex-direction: row;
    width: 17rem;
    height: 2.5rem;
}

.container-buttons button{
    margin-top : 2rem;
    width: 50%;
    height: 100%;
    font-size: var(--text-size-default);
}

.container-buttons button:first-child{
    border: none;
    background-color: var(--color-for-actient-button);
    color: var(--base-color);
}
.container-buttons button:first-child:hover{
    animation: shadow  3s infinite;
}

@keyframes shadow {
    0%{
        box-shadow: 0 7px 15px rgba(61, 79, 159, 0.4);
    }
    25%{
        box-shadow: 0 6px 15px rgba(61, 79, 159, 0.4);
    }
    50%{
        box-shadow: 0 5px 15px rgba(61, 79, 159, 0.4);
    }
    75%{
        box-shadow: 0 6px 15px rgba(61, 79, 159, 0.4);
    }
    100%{
        box-shadow: 0 7px 15px rgba(61, 79, 159, 0.4);
    }
}

.container-buttons button:last-child{
    border: 1px solid var(--color-for-other-button);
    background-color: var(--secondary-color);
    color: var(--text-color);
}
