/* @include url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); */

:root{
    --base-color: #FFFFFF;
    --secondary-color: #F5F8FF;
    --color-for-status: #5E81FE;
    --text-color: #697CA6;
    --actent-text-color: #3D4F9F;
    --color-situation: #FCFDFF;

    --text-size-default: 15px;
    --text-size-headers: 48px;


    --text-weight: 300;
    --text-weight-bold: 600;
}

body{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    padding: 0;
    margin: 0;
    background-color: var(--base-color);
    font-size: var(--text-size-default);
    color: var(--text-color);
}

*{
    padding: 0;
    margin: 0; 
}